@import "tailwindcss";
/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom print styles */
@media print {
  @page {
    margin: 20mm;
    size: A4 portrait;
    @top-left {
      content: none;
    }
    @top-right {
      content: none;
    }
    @bottom-left {
      content: none;
    }
    @bottom-right {
      content: none;
    }
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
